*{
    max-width: 100vw;
    box-sizing: border-box;
}

body {
    background-color: #1d2424;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#logo {
    font-family: 'Poppins';
    background-image: linear-gradient(to right, #4B8383 22%, #111D1D 100%);
    background-size: 100%;
    background-clip: text;
    font-weight: bold;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

/*navbar*/
.navbar {
    background: #1D2424;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
    position: fixed;
    border-bottom: 2px solid white;
}

.AboutHome .navbar{
    top: 0;
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    width: auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: grey;
    color: #1D2424;
    font-family: 'Poppins';
}

.button:hover {
    background: white;
    transition: all 0.5s ease;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.aboutmain {
    display: flex;
    flex-direction: column; 
    height: auto;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 10px;
}

.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
    padding: 0 20px;
    scroll-snap-align: start;
    transition: transform 0.3s ease-out;
    overflow-x: hidden;
    box-sizing: border-box;
}

.AboutHome {
    background-color: #243333;
}

.Description {
    background-color: #243333;
}

.Team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #243333;
    padding-top: 100px;
}
#Teamh2 {
    font-size: 3rem;
    text-align: center;
    margin-top: 100px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}
.team-members{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 170px;
    margin-top:60px;
}
.team-member{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    position: relative;
}

.role {
    margin-top: 5px;
    font-size: 1.2rem;
    color: gray;
    transition: transform 0.3s ease-in-out;
}

.social-box{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

.social-box a{
    opacity: 0;
    font-size: 0px;
    color: white;
    transition: opacity 0.3s, font-size 0.3s;
    margin: 5px;
}

.team-member:hover .role{
    transform: translateY(60px);
}

.team-member:hover .social-box{
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

.team-member:hover .social-box a{
    opacity: 1;
    font-size: 30px;
}


.End {
    background-color: #243333;
}

h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}