body {
    background-color: gray;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#logo {
    font-family: 'Poppins';
    background-image: linear-gradient(to right, #4B8383 22%, #111D1D 100%);
    background-size: 100%;
    background-clip: text;
    font-weight: bold;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

/*navbar*/
.navbar {
    background: #1D2424;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
    position: fixed;
    border-bottom: 2px solid white;
}

.AboutHome .navbar{
    position: sticky;
    top: 0;
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-left: auto;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    width: auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: grey;
    color: #1D2424;
    font-family: 'Poppins';
}

.button:hover {
    background: white;
    transition: all 0.5s ease;
}

.hero_container {
    margin-top: 200px;
    justify-content: center;
    height: calc(100vh-120px);
    width: 100%;
    display: flex;
    text-align: center;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.description_section h1 {
    font-family: 'Poppins';
    background-image: linear-gradient(to right, white 0%, #8C8E8C 100%);
    background-size: 100%;
    background-clip: text;
    font-weight: bold;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 0;
}

.description_section h2 {
    font-family: 'Poppins';
    color: grey;
    margin-top: 0;
}

.upload_btn {
    margin-top: 1rem;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1rem;
    background-color: grey;
    padding: 14px 32px;
    border-radius: 10px;
    color: white;
    position: relative;
    transition: all 0.5s;
    outline: none;
}

.upload_btn a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.upload_btn:hover {
    color: white;
    background-color: #1D2424;
}

.upload_btn::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1D2424;
    z-index: 1;
    transform: scaleX(0); 
    transition: transform 1s ease;
}

.upload_btn:hover::after {
    transform: scaleX(1);
}

.bottom_container {
    display: flex;
    justify-items: center;
}

.image_preview {
    width: 600px; 
    height: 350px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    position: relative;
    border: 2px outset #ccc;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 75px;
    padding: 10px;
}

.image_preview img {
    object-fit: contain; 
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 10px;
}

.data_container {
    margin-top: 75px;
    padding: 10px;
}

.parameter {
    margin-bottom: 15px;
}

label {
    font-size: 18px;
    font-weight: bold;
}

.scale_bar {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 5px;
}

.scale {
    width: 0%;
    position: absolute;
    height: 100%;
    background-color: #4caf50; 
    border-radius: 10px;
}

.value {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 14px;
    font-weight: bold;
}

