{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About SnapInsight</title>
    <link rel="stylesheet" href="about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="{% static 'photoapp/css/about.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!--NavBar-->
        <nav class="navbar">
            <div class="navbar_container">
                <a href="/" id="logo" class = "logo_navbar">snapinsight</a>
            </div>
        </nav>
    </header>

    <main class="aboutmain">
        <!--HeroSection-->
        <div class="AboutHome section">
            <h2>AboutUs</h2>
        </div>
        <div class="Shashank section">
            <h2>Shashank</h2>
        </div>
        <div class="Harish section">
            <h2>Harish</h2>
        </div>
        <div class="Shabbeer section">
            <h2>Shabbeer</h2>
        </div>
        <div class="Sumit section">
            <h2>Sumit</h2>
        </div>
    </main>    
</body>
</html>