{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About SnapInsight</title>
    <link rel="stylesheet" href="about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="{% static 'photoapp/css/about.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <!--NavBar-->
        <nav class="navbar">
            <div class="navbar_container">
                <a href="/" id="logo" class = "logo_navbar">snapinsight</a>
            </div>
        </nav>
    </header>

    <main class="aboutmain">
        <!--HeroSection-->
        <div class="AboutHome section">
            <h2>AboutUs</h2>
        </div>
        <div class="Description section">
            <h2>Description</h2>
        </div>
        
        <div class="Team section">
            <h2 id="Teamh2">Our Team</h2>
            <div class="team-members">
                <div class="team-member">
                    <h3>Shashank</h3>
                    <p class="role">Frontend Developer</p>
                    <div class="social-box">
                        <a href="https://github.com/shashankcods" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/shashank-lakkarsu-9b7062231/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>

                <div class="team-member">
                    <h3>Harish</h3>
                    <p class="role">Backend Developer</p>
                    <div class="social-box">
                        <a href="https://github.com/kyrolxg" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/harish-raju-66a5882b6/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>

                <div class="team-member">
                    <h3>Shabbeer</h3>
                    <p class="role">Frontend Developer</p>
                    <div class="social-box">
                        <a href="https://github.com/Shabbeer2513" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/shabbeer-mohammed/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>

                <div class="team-member">
                    <h3>Sumit</h3>
                    <p class="role">Backend Developer</p>
                    <div class="social-box">
                        <a href="https://github.com/sumit10866" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/sumit-surendran-379073270/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="End section">
            <h2>End</h2>
        </div>
    </main>    
</body>
</html>