{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapInsight</title>
    <link rel="stylesheet" href="snapinsight.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" type="text/css" href="{% static 'photoapp/css/snapinsight.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <!--NAVBAR-->
    <nav class="navbar">
        <div class="navbar_container">
            <a href="/" id="logo" class = "logo_navbar">snapinsight</a>
            <ul class="navbar_menu">
                <li class="navbar_btn">
                    <a href="/about" class="button">about</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--HERO SECTION-->
    <div class="hero_container">
        <div class="description_section">
            <h1>enhance your photography skills</h1>
            <h2>find out how your photo scores with an instant evaluation based on key photography factors.</h2>
            <button class="upload_btn" onclick="document.getElementById('file-upload').click();">
                <a href="javascript:void(0);">give your best and upload a photo</a>
            </button>
            <input type="file" id="file-upload" style="display:none;" accept="image/*" onchange="handleFileUpload(event)">
        </div>
    </div>

    <!--PREVIEW & DATA SECTION-->
    <div class="bottom_container">
        <div class="image_preview">
            <!-- Image preview -->
        </div>
        <div class="data_container">
            <div class="parameter">
                <label for="param1">temperature</label>
                <div class="scale_bar">
                    <div class="scale" id="param1-scale"></div>
                    <span class="value" id="param1-value">0</span>
                </div>
            </div>
        
            <div class="parameter">
                <label for="param2">tint</label>
                <div class="scale_bar">
                    <div class="scale" id="param2-scale"></div>
                    <span class="value" id="param2-value">0</span>
                </div>
            </div>

            <div class="parameter">
                <label for="param3">exposure</label>
                <div class="scale_bar">
                    <div class="scale" id="param3-scale"></div>
                    <span class="value" id="param3-value">0</span>
                </div>
            </div>

            <div class="parameter">
                <label for="param4">contrast</label>
                <div class="scale_bar">
                    <div class="scale" id="param4-scale"></div>
                    <span class="value" id="param4-value">0</span>
                </div>
            </div>

            <div class="parameter">
                <label for="param5">highlights</label>
                <div class="scale_bar">
                    <div class="scale" id="param5-scale"></div>
                    <span class="value" id="param5-value">0</span>
                </div>
            </div>
        </div>

        <div class="data_container">
            <div class="parameter">
                <label for="param6">shadows</label>
                <div class="scale_bar">
                    <div class="scale" id="param6-scale"></div>
                    <span class="value" id="param6-value">0</span>
                </div>
            </div>

            <div class="parameter">
                <label for="param7">whites</label>
                <div class="scale_bar">
                    <div class="scale" id="param7-scale"></div>
                    <span class="value" id="param7-value">0</span>
                </div>
            </div>

            <div class="parameter">
                <label for="param8">blacks</label>
                <div class="scale_bar">
                    <div class="scale" id="param8-scale"></div>
                    <span class="value" id="param8-value">0</span>
                </div>
            </div>

            <div class="parameter">
                <label for="param9">vibrance</label>
                <div class="scale_bar">
                    <div class="scale" id="param9-scale"></div>
                    <span class="value" id="param9-value">0</span>
                </div>
            </div>

            <div class="parameter">
                <label for="param10">saturation</label>
                <div class="scale_bar">
                    <div class="scale" id="param10-scale"></div>
                    <span class="value" id="param10-value">0</span>
                </div>
            </div>

        </div>

    </div>
    
    <script src="{% static 'photoapp/js/homepage.js' %}"></script>
</body>
</html>